<div class="container-fluid py-4 mb-4 hero-header">
  <div class="banner container py-4">
    <div class="row g-5 align-items-center">
      <div class="col-md-12 col-lg-5">
        <h4 class="mb-5 text-heading-1">100% Genuine Product</h4>
        <h2 class="mb-3 display-3 text-heading-2">
          Experience the Future in Your Palm
        </h2>
        <h3 class="mb-5 display-3 fs-6">
          100% Genuine | Latest Models | Best Price Guaranteed
        </h3>
      </div>
      <div class="col-md-12 col-lg-7">
        <div
          id="carouselId"
          class="carousel slide position-relative"
          data-bs-ride="carousel"
        >
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active rounded">
              <img
                src="https://i.pinimg.com/736x/bf/a3/07/bfa307a57f838b334f93858cbc4672aa.jpg"
                class="img-fluid w-100 h-100 bg-secondary rounded object-fit-cover"
                alt="First slide"
              />
            </div>
            <div class="carousel-item rounded">
              <img
                src="https://i.pinimg.com/736x/55/f5/f2/55f5f2ed60e60e2ca91f956bc67be790.jpg"
                class="img-fluid w-100 h-100 rounded object-fit-cover"
                alt="Second slide"
              />
            </div>
            <div class="carousel-item rounded">
              <img
                src="https://i.pinimg.com/736x/5a/7e/90/5a7e903fa4d36808abddba1d331a4a34.jpg"
                class="img-fluid w-100 h-100 rounded object-fit-cover"
                alt="Second slide"
              />
            </div>
            <div class="carousel-item rounded">
              <img
                src="https://i.pinimg.com/736x/88/04/d2/8804d261e5d3b4cbddaf73fc98f00842.jpg"
                class="img-fluid w-100 h-100 rounded object-fit-cover"
                alt="Second slide"
              />
            </div>
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselId"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselId"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

