<div
  id="layoutSidenav_nav"
  style="
    background-color: #f8f9fa;
    color: #212529;
    border-right: 1px solid #dee2e6;
  "
>
  <nav
    class="sb-sidenav accordion sb-sidenav-white border-end ps-2"
    id="sidenavAccordion"
  >
    <div class="sb-sidenav-menu">
      <div class="nav">
        <div class="sb-sidenav-menu-heading fs-6">Chức năng</div>
        <a class="nav-link" href="/admin">
          <div class="sb-nav-link-icon">
            <i class="fas fa-tachometer-alt"></i>
          </div>
          <span class="text-dark">Bảng điều khiển</span>
        </a>

        <a class="nav-link" href="/admin/user">
          <div class="sb-nav-link-icon">
            <i class="bi bi-person-vcard"></i>
          </div>
          <span class="text-dark">Người dùng</span>
        </a>

        <a class="nav-link" href="/admin/product">
          <div class="sb-nav-link-icon">
            <i class="bi bi-boxes"></i>
          </div>
          <span class="text-dark">Sản phẩm</span>
        </a>

        <a class="nav-link" href="/admin/order">
          <div class="sb-nav-link-icon">
            <i class="bi bi-cart-check"></i>
          </div>
          <span class="text-dark">Đơn hàng</span>
        </a>

        <div class="sb-sidenav-menu-heading fs-6">Giao diện</div>

        <a
          class="nav-link collapsed"
          href="#"
          data-bs-toggle="collapse"
          data-bs-target="#collapsePages"
          aria-expanded="false"
          aria-controls="collapsePages"
        >
          <div class="sb-nav-link-icon">
            <i class="fas fa-book-open"></i>
          </div>
          <span class="text-dark">Trang</span>

          <div class="sb-sidenav-collapse-arrow">
            <i class="fas fa-angle-down"></i>
          </div>
        </a>
        <div
          class="collapse"
          id="collapsePages"
          aria-labelledby="headingTwo"
          data-bs-parent="#sidenavAccordion"
        >
          <nav
            class="sb-sidenav-menu-nested nav accordion"
            id="sidenavAccordionPages"
          >
            <a
              class="nav-link collapsed"
              href="#"
              data-bs-toggle="collapse"
              data-bs-target="#pagesCollapseAuth"
              aria-expanded="false"
              aria-controls="pagesCollapseAuth"
            >
              <span class="text-dark">Xác thực</span>

              <div class="sb-sidenav-collapse-arrow">
                <i class="fas fa-angle-down"></i>
              </div>
            </a>
            <div
              class="collapse"
              id="pagesCollapseAuth"
              aria-labelledby="headingOne"
              data-bs-parent="#sidenavAccordionPages"
            >
              <nav class="sb-sidenav-menu-nested nav">
                <a class="nav-link text-dark" href="/login">Đăng nhập</a>
                <a class="nav-link text-dark" href="/register">Đăng ký</a>
              </nav>
            </div>
            <a
              class="nav-link collapsed"
              href="#"
              data-bs-toggle="collapse"
              data-bs-target="#pagesCollapseError"
              aria-expanded="false"
              aria-controls="pagesCollapseError"
            >
              <span class="text-dark">Lỗi</span>

              <div class="sb-sidenav-collapse-arrow">
                <i class="fas fa-angle-down"></i>
              </div>
            </a>
            <div
              class="collapse"
              id="pagesCollapseError"
              aria-labelledby="headingOne"
              data-bs-parent="#sidenavAccordionPages"
            >
              <nav class="sb-sidenav-menu-nested nav">
                <a class="nav-link text-dark" href="401.html">Trang 401</a>
                <a class="nav-link text-dark" href="404.html">Trang 404</a>
                <a class="nav-link text-dark" href="500.html">Trang 500</a>
              </nav>
            </div>
          </nav>
        </div>

        <div class="sb-sidenav-menu-heading fs-6">Tiện ích</div>
        <a class="nav-link" href="charts.html">
          <div class="sb-nav-link-icon">
            <i class="fas fa-chart-area"></i>
          </div>
          <span class="text-dark">Biểu đồ</span>
        </a>
        <a class="nav-link" href="tables.html">
          <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
          <span class="text-dark">Bảng</span>
        </a>
      </div>
    </div>

    <div
      class="sb-sidenav-footer w-100 d-flex align-items-center gap-2 text-dark small py-2 border-top"
    >
      <a
        href="/logout"
        class="d-flex align-items-center gap-2 text-decoration-none text-dark hover-effect"
      >
        <i class="bi bi-box-arrow-in-left fs-5"></i>
        <strong><%= user.fullname %></strong>
      </a>
    </div>
  </nav>
</div>
