body {
  font-family: "Open Sans", sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
  background: linear-gradient(135deg, #89f7fe, #66a6ff, #a1c4fd, #f0faff);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
}

.login-box {
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
  max-width: 1000px;
  width: 100%;
  overflow: hidden;
}

.login-page {
  max-width: 380px;
  margin: auto;
}

h3 {
  font-size: 28px;
  margin-bottom: 8px;
}

.form-label {
  font-weight: 600;
  font-size: 14px;
}

.form-control {
  font-size: 14px;
  padding: 10px 12px;
  border-radius: 8px;
}

.form-control:focus {
  box-shadow: none;
  border-color: #4a56e2;
}

.btn-login {
  background-color: #4a56e2;
  color: white;
  border: none;
  font-weight: 600;
  border-radius: 8px;
  transition: 0.3s;
}

.btn-login:hover {
  background-color: #3b46c5;
}

.social-btn {
  border: 1px solid #dee2e6;
  background-color: #fff;
  padding: 8px 0;
  font-size: 14px;
  border-radius: 8px;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.social-btn:hover {
  background-color: #f1f1f1;
}

.social-btn img {
  width: 18px;
  height: 18px;
}

.image-col {
  /* background-color: #f8f9fb; */
  border-radius: 12px;
}

.image-col img {
  max-width: 90%;
  height: auto;
}

@media (max-width: 768px) {
  .image-col {
    display: none;
  }
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.custom-toast {
  animation: slide-in 0.4s ease forwards;
  border-radius: 10px;
  font-size: 0.95rem;
}

@keyframes slide-in {
  0% {
    transform: translateX(120%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}